<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet") 
        link(rel="stylesheet", href="css/normalise.css")
        link(rel="stylesheet", href="css/style.css")
        title Нямушка
    body.container
        h1.main-title Ты сегодня покормил кота?
        - var names = ['duck', 'fish', 'chicken'];
        - var additives = ['с фуагра', 'с рыбой', 'с курой'];
        - var nums = ['0,5', '1', '2'];
        - for(var i=0; i<3; i++)
            .card__wrap(data-name= names[i])
                .card
                    a.card__link(href="#")
                        h2.card__title Нямушка 
                            span= additives[i]
                        p.card__info.card__info_top Сказочное заморское яство
                        p.card__info
                            case i
                                when 0
                                    <b>10</b> порций 
                                    span мышь в подарок
                                when 1
                                    <b>40</b> порций 
                                    span <b>2</b> мыши в подарок
                                when 2
                                    <b>100</b> порций 
                                    span <b>5</b> мышей в подарок
                                    span заказчик доволен
                    .card__weight= nums[i]
                        span кг
                p.card__underCardText Чего сидишь? порадуй котэ, 
                    a(href="#") купи.